@charset "utf-8";
/* CSS Document */

/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}


/*------------------------------------*\
    $MAIN
\*------------------------------------*/

p {
	font-family: "freight-text-pro",serif;
	font-weight:500px;
	line-height:1.5;
}

strong {
	font-weight: 700;
}

.logo {
	display: block;
	margin:20px auto 15px auto;
	max-width:90%;
}

.contactInfo{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.contactInfo li{
    display:inline;
	font-family: "freight-sans-pro",sans-serif;
}

.contactInfo p {
	font-family: "freight-sans-pro",sans-serif;
}

.contactInfo a{
    display:inline-block;
	color:inherit;
}

.contactInfo a:hover {
	color:#69aa6f;
}

.facebook, .phone {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: auto;
	margin-top:15px;
	margin-bottom:15px;
}

.facebook {
	background-image:url(../img/facebook.png);
	padding-left:30px;
}

.phone {
	background-image:url(../img/phone.png);
	padding-left:20px;
}

/*nav {
	display:none;
}*/

.textBox {
	padding:30px;
}

.box1, .box3 {
	background-color: #c4bbb4;
}

.box2, .box4 {
	background-color: #5f676b;
}

.box2 p, .box4 p {
	color: #ffffff;
}

